<nav>
    <ul>
        <li class="Printemps mb-3"><a href="{{ path('saison', {'saison': 'Printemps' }) }}">Printemps</a></li>
        <li class="Ete  mb-3"><a href="{{ path('saison', {'saison': 'Ete' }) }}">Eté</a></li>
        <li class="Automne  mb-3"><a href="{{ path('saison', {'saison': 'Automne' }) }}">Automne</a></li>
        <li class="Hiver  mb-3"><a href="{{ path('saison', {'saison': 'Hiver' }) }}">Hiver</a></li>
    </ul>
</nav>